.footer {
	min-height: 72px;
	padding: 0 40px;
	background-color: var(--primary);
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: space-between;
	align-items: center;
}

.footerParagraph {
	color: var(--white);
}

.footerLink {
	color: var(--white);
}

.footerLinkContainer {
	display: flex;
	justify-content: flex-end;
	gap: 40px;
}

@media screen and (max-width:768px) {
	.footer {
		grid-template-columns: 1fr;
	}
	.footerLinkContainer {
	justify-content: center;
	}
	.footerParagraph {
	text-align: center;
	}
}