.card {
	width: 350px;
	min-height: 400px;
	display: flex;
	flex-direction: column;
	border: 1px solid #F5F5F5;
}

.aboutContainer {
	padding: 0 10px 8px;
	display: flex;
	justify-content: space-between;
}

.tagContainer {
	display: flex;
}
