.paragraph {
	padding: 0 10px 15px;

	font-weight: 400;
	font-style: normal;
}

.s {
	color: var(--gray);

	font-size: 14px;
	line-height: 21px; 

}

.m {
	color: var(	--gray-black);

	font-size: 16px;
	line-height: 28px; 
}

.b {
	color: var(--gray);

	font-size: 18px;
	line-height: 32px;
}