.tagContainer {
	padding: 0 10px;
	display: flex;
	align-items: center;
}

.imageContainer {
	max-width: 720px;
	max-height: 440px;
}

.bodyContainer {
	padding: 30px 0 20px;
}

.paragraphContainer {
	padding: 0 10px;
}

.likeContainer {
	padding: 20px 10px 50px;
}

.titleContainer {
	width: 1126px;
}

@media screen and (max-width:1160px) {
.titleContainer {
	width: 730px;
}
}

@media screen and (max-width:760px) {
.titleContainer {
	width: 350px;
}
}