:root {
	--black: #2C2C2C;
	--gray-black:#4B4B4B;
	--gray: #6E6E6E;
	--font-family: 'Open Sans', sans-serif;
}

body {
	color: var(--black);

	font-family: var(	--font-family);
}

p, h1, h2, h3 {
	margin: 0;
	padding: 0;
}





