.wrapper {
	display: grid;
	grid-template: ". header ." auto ". main ." 1fr / auto minmax(350px, 1126px) auto;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;

	width: 1126px;
	min-height: 100px;
	margin: 0 auto;
	grid-area: header;
}

.main {
	display: grid;

	margin: 0 auto;
	gap: 30px;
	justify-items: center;
	grid-template-columns: repeat(3, 350px);
	grid-area: main;
}

@media screen and (width <=1160px) {
	.header {
		width: 730px;
	}

	.main {
		grid-template-columns: 350px 350px;
	}
}

@media screen and (width <=760px) {
	.header {
		width: 350px;
	}

	.main {
		grid-template-columns: 350px;
	}
}