.form {
	padding: 0 10px;
	max-width: 634px;
	width: 100%;
	margin-bottom: 160px;
	display: flex;
	flex-direction: column;
}

.button {
	width: 229px;
	height: 48px;
	border: none;
	border-radius: 8px;
	background-color: #303030;
	font-weight: bold;
	font-size: 15px;
	line-height: 21px;
	color: white;
	cursor: pointer;
}

.button:hover {
	opacity: 0.8;
}

.panel {
	padding: 20px;
	position: relative;
	border-radius: 5px;
	margin-top: 20px;
}

.success {
	background: rgb(161, 238, 161);

}

.error {
	background: rgb(231, 102, 102);
}

.successTitle {
	font-weight: bold;
}