.firstLevel {
	margin-top: 20px;
	display: grid;
	grid-template-columns: 24px 1fr;
	gap: 20px;
	align-items: center;

	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-decoration: none;
	color: var(--gray);
}

.firstLevelActive,
.firstLevel:hover {
	color: var(--primary);
}

.firstLevelActive svg,
.firstLevel:hover svg {
	fill: var(--primary);
}

.firstLevelLink {
	text-decoration: none;
}

.secondLevel {
	margin-bottom: 10px;

	cursor: pointer;
	text-transform: uppercase;

	color: var(--gray);
	font-size: 12px;
	font-style: normal;
	font-weight: 300;
	line-height: 16px;
}

.secondBlock {
	margin-top: 15px;
	margin-left: 12px;
	padding-left: 32px;

	border-left: 1px solid #DFDFDF;
}

.secondLevelBlockOpened:last-child {
	margin-bottom: 20px;
}

.thirdLevel {
	display: block;
	margin-bottom: 10px;
	text-decoration: none;

	cursor: pointer;

	color: var(--gray);

	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 19px;
}

.thirdLevelActive,
.thirdLevel:hover {
	color: var(--primary);
}